<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Company Login</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Login For Company</h1>
        <nav>
          <ul>
            <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/Homepage/index.html">Home</a></li>
            <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/company_login/index.html">Sign In</a></li>
            <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/company_signup/index.html">Sign Up</a></li>
            <li><a href="https:/google.com">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="box">
        <img
          src="https://placement.iitk.ac.in/_next/image?url=%2Fimages%2Fsignin.gif&w=1080&q=75"
          alt="icon-png"
        />

        <div class="form-container">
          <h2>Welcome Back!</h2>
          <h2>Sign In</h2>
          <form>
            <label for="email">Email_id:</label>
            <input type="email" id="email" name="email" required />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <input type="submit" value="Sign In " />
            <span class="flex-row"
              >
              <div><input type="checkbox" /> Remember me</div>
              <div class="forgot-password">
                <a href="#">Forgot Password?</a>
              </div>
            </span>
          </form>
            <p>Don't have an account? <a href="#">Sign Up</a></p>
        </div>
      </div>
    </main>
    <footer>
      <p>© 2023 Placement Management System. All rights reserved.</p>
    </footer>
  </body>
</html>
