{% load static %}
{% load bootstrap3 %}


{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <style>
        .header{
            border-top: 5px solid black;
            border-bottom: 5px solid black;
        }

        .box_header{
            border: 5px;
            text-align: center;
            height: 100px;
            padding: 10px;
        }
        .change_box{
            margin-left: 35%;
            
            width: 30%;
            
            height: 550px;
            padding: 20px;
            font-size: medium;
            
        }
    </style>
{% endblock %}

{% block content %}
<div class="header">
    <nav>
        <h3>Password Change</h3>
        <ul class="nav-links">
            {% if user.student %}
                <li><h2 style="color: rgb(46, 39, 83);"><b>{{ user.student }}</b></h3></li>
            {% else %}
                <li><h2 style="color: rgb(46, 39, 83);"><b>{{ user.company }}</b></h3></li>
            {% endif %}
            </ul>
    </nav>
  </div>

</div>
<div class="change_box">

<form method="post" action="{% url 'users:password_change' %}">
    {% csrf_token %}
    {% bootstrap_form form  %}
    {% buttons %}
    <button type="submit" style="width: 100%;height:50px;font-size:large;color:aliceblue;background-color:rgb(46, 39, 83);font-size:large;"">Change Password</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}