*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.loginbox {
    margin-left: 30%;
    margin-right: 30px;
}

.header{
    height: 20%;
    width: 100%;
    padding: 0 8%;
    background: rgba(111, 173, 235, 0.29);
    position: relative;
    font-weight: bold;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 150px;
}

.nav-links{
    padding: 28px 0;
    
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
    
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
    font-weight: bold;
    font-size: large;
    
}

.nav-links li a::after{
    content: '';
    background: #333;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;

}

.btn{
    background: #1e2b35;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
}
