<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>For Companies</title>
  <link rel="stylesheet" href="style.css" />
  <style>
    header {
      display: flex;
      align-items: center;
    }

    h1 {
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <header>
    <img class="logo" src="logo.png" alt="My Website Logo">
    <h1>Placement Cell</h1>
    <nav>
      <ul>
        <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/Homepage/index.html">Home</a></li>
        <li>
          <a href="facebook.com" target="_blank"
            rel="noreferrer">Login</a>
        </li>
        <li>
          <a href="google.com" target="_blank"
            rel="noreferrer">Register </a>
        </li>
        <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/Gallery/album.html" target="_blank"
            rel="noreferrer">About </a></li>
        <li><a href="file:///C:/Users/kalor/OneDrive/Desktop/web/Contact%20Us/index.html" target="_blank"
            rel="noreferrer">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="banner">
      <h2>For Companies</h2>
      <p>
      <h3>A collection of resources for companies to recruit.</h3>
      </p>
    </section>
    <section id="process">
      <h2> Procedure</h2>
      <div class="container">
        <div class="box active">
          <div class="number">1</div>
          <p>The Students' placement office appoints a point of contact(PoC) for you.
          </p>
        </div>
        <div class="box">
          <div class="number">2</div>
          <p>You will need to contact your PoC or any placement coordinators (or mail to spo@iiitg.ac.in) for your
            account credentials on the Recruitment Automation system(RAS).
          </p>
        </div>
        <div class="box">
          <div class="number">3</div>
          <p>You need to fill out a Job Announcement Form (JAF) / Internship Proforma (IP) in the portal to share the
            offered profile details.
          </p>
        </div>
        <div class="box">
          <div class="number">4</div>
          <p>After verification of details by PoC, job/internship openings are visible on the portal as per dates
            decided by the placement team.
          </p>
        </div>
        <div class="box">
          <div class="number">5</div>
          <p>Students need to submit their resumes before the deadline set for the company on the RAS.
          </p>
        </div>
        <div class="box">
          <div class="number">6</div>
          <p>Companies conduct their PPT and tests/screening process after finalizing the schedule with the placement
            team.
          </p>
        </div>
        <div class="box">
          <div class="number">7</div>
          <p>The company submits the final list of shortlisted students for the interview process.
          </p>
        </div>
        <div class="box">
          <div class="number">8</div>
          <p>The placement office allots dates of interviews and PoC for the interview process.
          </p>
        </div>
        <div class="box">
          <div class="number">9</div>
          <p>Companies need to confirm the dates with the placement office over email.
          </p>
        </div>
        <div class="box">
          <div class="number">10</div>
          <p>Companies provide the list of selected and waitlisted students at the end of their interview slot.
          </p>
        </div>
        <div class="box">
          <div class="number">11</div>
          <p>The Placement office notifies the companies regarding the acceptance of selected students.
          </p>
        </div>

        <div class="box">
          <div class="number">12</div>
          <p>The company sends the offer letter to the selected candidates consistent with JAF/IP.
          </p>
        </div>


      </div>
    </section>


    </div>
    </div>
    <footer class="footer">
      <div class="flex-row">
        <div>
          <h1 class="footer-heading">Important Links</h1>
          <p>
            <a href="https://www.iiitg.ac.in/" target="_blank" rel="noreferrer">IIITG Homepage</a>
          </p>
          <p class="sc-73e903e5-4 iUCIbg">
            <a href="https://www.iiitg.ac.in/student_gymkhana.php" target="_blank" rel="noreferrer">Students'
              Gymkhana</a>
          </p>
        </div>
        <div>
          <h1 class="footer-heading">Contact Us</h1>
          <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 css-1ha4th6">
            <div class="css-xoj6fk"><a </a><a href="https://www.iiitg.ac.in/placements/contact-us.html#reaching_iiitg"
                  target="_blank" rel="noreferrer">
                  <p>Training & Placement Cell,<p>
                    </p>IIIT Guwahati, Bongora,<p>
                    </p>Guwahati-781015, India</p>
                </a></div>
            <h3>&copy; 2023 Placement Management System.<h3>
                <p> All rights reserved.</p>

          </div>
          <br /><br /></span>
          </p>

        </div>
      </div>
    </footer>

</body>

</html>