{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/login_new.css' %}">

    </head>

<body>
<div class="login-box">
  <img src="{% static 'Images/user.png' %}" class="center">
  <form method="post" target="{% url 'users:login' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="user-box">
            {{ field }}
            {{ field.label_tag }}
        </div>
        {% endfor %}
        <input type="submit" value="Login">
  </form>
  <p>
    <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </p>
</div>
</body>
</html>
{% endblock content %}