{% load bootstrap3 %}
{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students </title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'Images/iiitg_logo.ico' %}" >
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <style>
      table{
          width: 100%;
          height: 25px;
          
      }
      td{
        padding:10px;
        margin-left: 25px;
        color: rgb(18, 18, 18);
      }
      th{
        padding:10px;
        text-align: center;
        color: rgb(51, 67, 120);
      }
      
      
  </style>
</head>
{% block content %}
{% if students %}
    <table border="5">
    <tr>
        
        <th>Roll Number</td>
        <th>Name</td>
        <th>Email</td>
        <th>Branch</td>
        <th>Course</td>
        <th>Graduation Year</td>
        <th>Status</td>
        <th>Resume</td>
    </tr>
    {% for student in students %}
    <tr style="padding-left: 100px;">
        <td>{{ student.Roll }}</td>
        <td>{{ student.Name }}</td>
        <td>{{ student.Email }}</td>
        <td>{{ student.Branch }}</td>
        <td>{{ student.Course }}</td>
        <td>{{ student.Graduation_Year }}</td>
        {% if student.Status == 'TRAIN' %}
        <td>Training</td>
        {% elif student.Status == 'TRAINED' %}
        <td>Training Complete</td>
        {% else %}
        <td>Placed</td>
        {% endif %}
        <td><a href="{{ student.Resume.url }}">Resume</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Student found with above filter.</p>
{% endif %}

{% endblock %}